
@font-face
{
    font-family: 'island';
    src: url('Ritaglio.ttf');
}


@font-face
{
    font-family: 'quicksand';
    src: url('quicksand/Quicksand-Regular.otf');
}

.profile-img
{
    width: 80px;
    height: 80px;
    border: 5px solid #FCF8C3;
}

body 
{
    background-color: #E7EDED;
}

.row-1, .row-3
{
    min-height: 450px;
}

.row-2
{
    min-height: 650px;
}
.cloud-image
{
    width: 40%;
    position: relative;
    top: 350px;
    left: 70px;
}

.cloud-image-1
{
    width: 40%;
    position: relative;
    top: 150px;
}

div.name
{
    font-family:'island';
    color: white;
    font-size: 3.3em;
    text-shadow: 2px 2px #000;
    text-align: center;
}

div.desc
{
    font-family: 'quicksand';
    color: #899;
    text-align: center;
    font-size: 1.5em;
    /** text-shadow: 2px 2px #000; **/
   

}

span.desc-island
{
    font-family: 'island';
    color: white;
    font-size: 1.4em;
    text-shadow: 2px 2px #000;
    position: relative;
    left: 10%; 

}

.island
{
    height: 90%;
}

.row-2
{
    background-color: white;
}

.passionate
{
    font-family: 'quicksand';
    color: #899;
    text-align: center;
    padding-top: 20px;
}

.passionate-desc
{
    font-family: 'quicksand';
    color: #220;
    text-align: center;
    margin: 50px 50px 50px 50px;
    padding: 10px 10px 10px 10px;
}

.wordpress-logo, .d3-logo
{
    width: 40px;
    height: 40px;
}

.angular-logo
{
    height: 65px;
}

.handlebar-logo
{
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
}

.bootstrap-logo
{
    height: 45px;
}

.kb-hpe
{
    width: 100%;
    box-shadow: 0px 3px 4px 4px #ccc;
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
}

.kb-description
{
    padding: 10px 10px 10px 5px;
}

.second-row, .third-row
{
    margin-top: 60px;
}

h2
{
    margin: 10px 10px 20px 10px;
    color: #899;
}

h2.together
{
    margin: 10px 10px 10px 10px;
    color: #899;
    display: inline;
    text-align: bottom;
}

.thumbs-up:before
{
    font-size: 2.5em;
}