
@font-face
{
    font-family: 'island';
    src: url('Ritaglio.ttf');
}


@font-face
{
    font-family: 'quicksand';
    src: url('quicksand/Quicksand-Regular.otf');
}

.profile-img
{
    width: 80px;
    height: 80px;
    border: 5px solid #FCF8C3;
}

body 
{
    background-color: #E7EDED;
}

.row-1, .row-3
{
    min-height: 450px;
}

.row-2
{
    min-height: 650px;
}
.cloud-image
{
    width: 40%;
    position: relative;
    top: 350px;
    left: 70px;
}

.cloud-image-1
{
    width: 40%;
    position: relative;
    top: 150px;
}

span.name
{
    font-family:'island';
    color: white;
    font-size: 3.3em;
    text-shadow: 2px 2px #000;
    position: relative;
    left: 25%; 
}

div.desc
{
    font-family: 'quicksand';
    color: #899;
    text-align: center;
    font-size: 1.5em;
    /** text-shadow: 2px 2px #000; **/
    position: relative;
    left: 10%; 

}

span.desc-island
{
    font-family: 'island';
    color: white;
    font-size: 1.4em;
    text-shadow: 2px 2px #000;
    position: relative;
    left: 10%; 

}

.island
{
    height: 90%;
    position: relative;
    bottom: 0px;
    right: 20px;
}

.row-2
{
    background-color: white;
}

.passionate
{
    font-family: 'quicksand';
    color: #899;
    text-align: center;
    padding-top: 20px;
}

.passionate-desc
{
    font-family: 'quicksand';
    color: #220;
    text-align: center;
    margin: 50px 50px 50px 50px;
    padding: 10px 10px 10px 10px;
}

h2
{
    margin: 10px 10px 20px 10px;
}